@model IEnumerable<OnlineVotingSystem.Models.Candidate>

@{
    bool isDisable = false;
    if (Model.Count() == 0)
    {
        isDisable = true;
        ViewData["message"] = "No election";
    }
}
@if (ViewData["message"] != null && (ViewData["message"] as string).Length != 0)
{
    <div class="alert alert-success" id="label">
        @ViewData["message"]
    </div>
    <script>
        let label = document.getElementById("label");
        if (label.style.display !== "none") {
            setTimeout(() => {
                label.style.display = "none";
            }, 5000);
        }
    </script>
}
<h1 class="h2 text-center badge-secondary">Candidate list</h1>
<table class="table table-bordered border-primary">
    <!--<thead class="table-light">
        <tr>-->
    @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
    <!--<th>
        @Html.DisplayNameFor(model => model.Name)
    </th>-->
    @*<th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>*@
    <!--</tr>
    </thead>-->
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhotoPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SignPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Votes)
                    </td>*@
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>
<br />
<form asp-action="List" asp-controller="Home" class="m-auto" method="post">
    <div class="form-group">
        <input type="submit" value="Declare Result" class="btn btn-success" disabled="@isDisable" />
    </div>
</form>